$white: #fff;
$gray-border: #707070;
$green: #7AD6BB;
$white-skills-bg: #F2F2F2;
$white-otherWorks-bg: #F0F0F0;
$black-myValue-bg: #262626;
$gray-common: #454545;
$white-works-img: #DEDEDE;
$black-history-heading: #212121;
$black-history-list: #222;
$black-heading-numbers: #000;